*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: #3E363F;
	font-family: 'Anuphan', sans-serif;
	
	height: 100%;
}

.container{
	max-width: 1400px;
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
	
}

.screen{
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.screenBackground{
	
}

.screenContainer{
	position: relative;
}

.screen80{
	height: 80%;
}


header{
	font-size: 144px;
	color: #136F63;
	font-weight: 100;
	letter-spacing: 15px;
}

.teamTitle{
	font-size: 16px;
	color: #A7C4C2;
	letter-spacing: 5px;
	
	font-weight: 100;
	
	position: absolute;
	bottom: 0px;
	right: -100px;
}

.footerOfTitle{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 45px;
	
	height: 20%;
	width: 100%;
	
	font-weight: 100;
	color: #A7C4C2;
	padding: 10px 50px 10px 50px;
}

.footerOfTitle span{
	padding: 10px;
	transition: color 0.7s, letter-spacing 0.7s;
	font-size: 20px;
	text-align:center;
	flex-grow: 1;
}

.footerOfTitle span:hover{
	color: #FF7F11;
	transition: color 0.4s, letter-spacing 0.4s;
	
	cursor: pointer;
	letter-spacing: 1px;
}